@using System.Security.Claims;
@inject FakeAuthenticationProvider fakeAuthProvider


<div>
    <p>Mogelijke inlog opties: </p>
    <button @onclick="SetAnon">Guest</button>
    <button @onclick="SetKlant">Klant</button>
    <button @onclick="SetAdminCons">Admin - Consulteren</button>
    <button @onclick="SetAdminBeh">Admin - Beheren</button>
    <p>Ingelogd als: @fakeAuthProvider.Current.FindFirst(ClaimTypes.Name)?.Value</p>
</div>

@code{
    void SetAnon(){
        fakeAuthProvider.ChangeAuthenticationState(FakeAuthenticationProvider.Anonymous);
    }
    void SetKlant()
    {
        fakeAuthProvider.ChangeAuthenticationState(FakeAuthenticationProvider.Customer);
    }
    void SetAdminCons()
    {
        fakeAuthProvider.ChangeAuthenticationState(FakeAuthenticationProvider.AdminConsultant);
    }  
    void SetAdminBeh()
    {
        fakeAuthProvider.ChangeAuthenticationState(FakeAuthenticationProvider.AdminBeheer);
    }
}