@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="buttons">
                <button class="button is-primary is-fullwidth" @onclick="OpenFilterForm">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>Filter</span>
                </button>
            </div>
            <div>
                <input class="input" type="search" placeholder="Zoeken...">
                <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </span>
            </div>
            <div>
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
        </div>
        

        <article class="content px-4">
            @Body
        </article>
        <Sidepanel/>
    </main>
</div>

@code {
    [Inject] public ISidepanelService Sidepanel { get; set; }

    private void OpenFilterForm()
    {
        Sidepanel.Open<Client.Pages.Counter>("Virtual Machines", "Filter");
    }
}