@page "/virtualmachine/{Id:int}"
if(vm is null){
    <p>Loading ...</p>
}
else{
    <h1>@vm.Name</h1>
    <div class="details">
        <Algemeen @Id=@vm.Id/>
        <Hardware @Id=@vm.Id/>
        <Contract @Id=@vm.Id/>
    </div>
}



