@page "/virtualmachines/{Id:int}"
@if (Virtualmachine is null)
{
    <p>Loading ...</p>
}
else{
    <h1>@Virtualmachine.Name</h1>
    <div class="details">
        <Algemeen @Virtualmachine=Virtualmachine />
    </div>
}



