@page "/virtualmachines/{Id:int}"
@attribute [Authorize]


@if (!Initialized)
{
    <p>Even gedult</p>
}
else if (Virtualmachine.Id == -1)
{
    <p>Je hebt een verkeerde Id meegegeven. Of deze VM werd niet teruggevonden.</p>
}
else
{
    <h1>@Virtualmachine.Name</h1>
    <div class="details">
        <div>
            <h3>Algemeen</h3>
            <br />
            <div>
                <p>Naam: @Virtualmachine.Name</p>
                <p>Operatingsystem: @Virtualmachine.OperatingSystem</p>
                <p>Mode: @Virtualmachine.Mode</p>
            </div>
            <div>
                <a @onclick="NavigateToKlant">Naar Klant</a>
            </div>
        </div>
    </div>
    }




