@page "/virtualmachines/{Id:int}"
@attribute [Authorize]

@if (!Initialized)
{
    <p>Even geduld ...</p>
}else if(Virtualmachine is null){
    <p>An error has happened</p>
}
else{
    <h1>@Virtualmachine.Name</h1>
    <div class="details">
        <div>
            <h3>Algemeen</h3>
            <br />
            <div>
                <p>Naam: @Virtualmachine.Name</p>
                <p>Operatingsystem: @Virtualmachine.OperatingSystem</p>   
                <p>Mode: @Virtualmachine.Mode</p>
            </div>
            <div>
                <a @onclick="NavigateToKlant">Naar Klant</a>
            </div>
        </div>
    </div>
}



