@page "/virtualmachines"
@using Client.VirtualMachines.Components

<PageTitle>VirtualMachines</PageTitle>

<div>
    <h1>VirtualMachines</h1>
    <!-- 
        <VirtualMachineList />
    -->
</div>


