<div>
    <h3>Contract</h3>
    <br />
    <div>
        <p>
            Contractnummer : @Vm.Contract.Contractnr
        </p>
        <p>
            Beheerder :<!--@Vm.Beheerder-->
        </p>
        <p>
            Startdatum :<!--@Vm.Contract.Startdatum-->
        </p>
        <p>
            Einddatum :<!--@Vm.Contract.Einddatum-->
        </p>
    </div>
</div>



