<div>
    <h3>Contract</h3>
    <br />
    <div>
        <p>
            Contractnummer : @vm.Contract.Id
        </p>
        <p>
            Startdatum :@vm.Contract.StartDate
        </p>
        <p>
            Einddatum :@vm.Contract.EndDate
        </p>
    </div>
</div>


