
<div>
    <h3>Contract</h3>
    <br />
    <div>
        <p>
<<<<<<< HEAD
            Contractnummer : @vm.Contract.Id
=======
            Contractnummer :<!-- @Vm.Contract.Contractnr -->
>>>>>>> c8cc2a0f784d40329dd9b353d93c50bf9189e153
        </p>
        <p>
            Startdatum :@vm.Contract.StartDate
        </p>
        <p>
            Einddatum :@vm.Contract.EndDate
        </p>
    </div>
</div>


