<div>
    <h3>Hardware</h3>
    <br />
    <div>
        <p>Memory: @vm.Hardware.Memory</p>
        <p>Storage: @vm.Hardware.Storage</p>
        <p>#Vcpu cores: @vm.Hardware.Amount_vCPU</p>
        <p>Server: @vm.FysiekeServer</p>
    </div>
    <div>
        <a @onclick="NavigateToReport" >Naar Rapportage</a>
    </div>
</div>



