<div>
    <h3>Hardware</h3>
    <br />
    <div>
        <p>Operating System: <!--@Vm.OperatingSystem--></p>
        <p>Memory: </p>
        <p>Storage: </p>
        <p>#Vcpu cores: </p>
        <p>Server: </p>
    </div>
    <div>
        <a @onclick="NavigateToReport" >Naar Rapportage</a>
    </div>
</div>



