<QuickGrid Items="@virtualMachines">
    <PropertyColumn Title="Naam" Property="@(vm.Name)" Sortable="true" />
    <PropertyColumn Title="Klant" Property="@(vm.Mode)" Sortable="true" />
        <TemplateColumn Title="Acties" >
        <button @onclick="OpenVirtualMachine">
            Details
            <span class="e-icons e-edit e-small"></span>
        </button>
    </TemplateColumn>
</QuickGrid>
